.container-profile {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.container-profile img {
    width : 100px;
    height: 100px;
}

.container-profile span {
    color: darkgray;
}

.container-optionsprofile {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0 10px;
}

.container-user-menu a {
    cursor   : pointer;
    padding  : 0 10px;
    color    : rgb(0, 0, 0);
    font-size: larger;
    width    : 200px;
}

.active {
    background-color: #b9b9b9;
    color           : white !important;
}

@media(min-width: 768px) {
    .container-user-menu a {
        border     : 1px solid #b9b9b9;
        font-size  : 15px;
        padding-top: 6px;
    }

    .container_data_user {
        padding        : 60px 0;
        justify-content: center;
        align-items    : center;
    }
}