.container-profile {
    background-color: red;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
}

.container-profile img {
    width : 100px;
    height: 100px;
}

.container-profile span {
    color: darkgray;
}

.container-optionsprofile {
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : 0 10px;
    background-color: #FF5151 !important;
}

.container-optionsprofile li {
    cursor   : pointer;
    padding  : 0 10px;
    color    : white;
    font-size: larger;
}

.container-optionsprofile li:hover {
    color: #ff5151;
}

@media(min-width: 550px) {
    .container-optionsprofile {
        background-color: rgb(179, 179, 179) !important;
        justify-content : start;

    }
}