.form-order {
    background-color: white;
    height          : auto;
    width           : 100%;
    margin          : 0 auto;
    border          : 1px solid #c1c1c1;
    border-radius   : 2%;
    padding         : 20px;
}

.img-checkbox-mp {
    width : 100px !important;
    height: 50px;
}

.img-checkbox {
    width : 50px;
    height: 50px;
}

.btn-Finish {
    width           : 150px;
    height          : 50px;
    background-color: var(--rojo);
    color           : white;
    border          : none;
}

.btn-Finish:hover {
    background-color: var(--rojoHover);
}

@media(min-width: 768px) {
    .form-order {
        /* width    : 550px; */
        max-width   : 600px;
        height      : 100%;
        /* margin   : 0 20px; */
    }
}