.card {
  width        : 100%;
  border-radius: 6px;
  overflow     : hidden;
  box-shadow   : 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.viewEnvio {
  width        : 100%;
  border-radius: 6px;
}

.image {
  height: 200px;
}

.imageList {
  height: 80px;
}

.image-detail {
  width : 100%;
  height: 350px;
}

.content {
  padding: 2rem 1.8rem;
}

.contentEnvio {
  padding: 1rem 1rem;
}

.contentList {
  padding: 0.1rem 5rem;
}

.content h4 {
  margin   : 0 0 1rem;
  font-size: 1.5rem;
}

.container-skeletonList {
  width: 70%;
}

.loading .image,
.loading .image-detail,
.loading h4,
.loading h1,
.loading .price,
.loading .list,
.loading .details,
.loading .imageList,
.loading .detailsEnvio {
  background-color: #ededed;
  background-image: linear-gradient(110deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%);
  background-size      : 200% 100%;
  background-position-x: 160%;
  animation            : 1.5s loading ease-in-out infinite;
}

.loading h1 {
  min-height     : 1.1rem;
  border-radius  : 4px;
  animation-delay: 0.08s;
  margin-left    : 35px;
}

.loading h4 {
  min-height     : 1.6rem;
  width          : 40%;
  border-radius  : 4px;
  animation-delay: 0.08s;
}

.contentList h4 {
  min-height     : 1.6rem;
  border-radius  : 4px;
  animation-delay: 0.08s;
}

.loading .price {
  min-height     : 1.6rem;
  width          : 25%;
  border-radius  : 4px;
  animation-delay: 0.08s;
}

.loading .details {
  min-height     : 4rem;
  border-radius  : 4px;
  animation-delay: 0.1s;
}

.loading .detailsEnvio {
  min-height     : 2rem;
  border-radius  : 4px;
  animation-delay: 0.1s;
}

.loading .list {
  min-height     : 1.5rem;
  margin         : 15px;
  width          : 80%;
  border-radius  : 4px;
  animation-delay: 0.1s;
}

.loading::before {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color    : #fefefe;
}

.skeleton-clients:nth-child(2n + 1) {
  background-color: #ededed;
  background-image: linear-gradient(110deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1.5) 50%,
      rgba(255, 255, 255, 0) 80%);
  background-size      : 200% 100%;
  background-position-x: 160%;
  animation            : 1.8s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -60%;
  }
}

@media (max-width: 768px) {

  .card,
  .container-featuredProduct {
    /* width          : 80%; */
    /* margin         : 10%; */
    height         : 300px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
  }

  .container-skeletonList .card {
    height: 200px;
  }

  .container-skeletonList {
    width: 90%;
  }
}