.navbar-nav {
    text-transform: uppercase;
}

.row-header,
.navbar {
    background-color: #313131 !important;
}

.navbar a,
.cart-icon,
.cart-icon-movil {
    color   : white !important;
    cursor  : pointer;
    position: relative;
}

.cart-icon {
    display: none;
}

.navbar-toggler-icon {
    background-color: white;
}

@media(min-width: 992px) {
    .navbar-collapse {
        display        : flex;
        justify-content: end;
    }

    .cart-icon-movil {
        display: none;
    }

    .cart-icon {
        display: block;
    }
}