.image-parent {
    width : 100px;
    height: 100px;

}

.contianer_optonIcon {
    display       : flex;
    flex-direction: column;
}

.optionIcon {
    width : 20px;
    height: 20px;
    margin: 15px 0;
    cursor: pointer;
}


.page-item {
    cursor: pointer;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    z-index: auto !important;
}

.modal {
    z-index: 9999999999999 !important;
}

.container-info input {
    width     : 50px;
    text-align: center;
    margin    : 0 10px;
}

.btnCount {
    background-color: #FF5151;
    color           : white;
    font-weight     : 700;
    width           : 50px;
}

.btnCount:hover {
    background-color: #ff5151bd;
}