footer{
    height: auto;
    width: 100%;
    background-color: #313131 !important;
    color: white;
}
.footer-title{
    text-align: center;
    color: white;
}
.icon-social{
    color: white;
    cursor: pointer;
    font-size: 25px;
}
footer li a{
    font-weight: 700;
    color: #747474;
}
footer li{
    font-weight: 700;
    color: #747474;
}
footer li:hover{
    color: rgb(213 61 61 / 95%)
}
footer li a:hover{
    text-decoration: none;
    color: rgb(213 61 61 / 95%)
}
footer hr{
    margin-top: 80px;
    color: black;
    height: 10px;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: rgb(213 61 61 / 95%)
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media(min-width: 768px){
    .footer-title{
        text-align: left !important;
    }
}