.container-cart-widget {
    width           : 100%;
    height          : 100vh;
    position        : fixed;
    background-color: white;
    right           : 0;
    top             : 0;
    color           : black;
    z-index         : 99999;
    cursor          : initial;
}

.container-cart-widget::before {
    content     : "";
    position    : absolute;
    top         : -14px;
    right       : 0;
    width       : 0;
    height      : 0;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: transparent transparent white;
}

.container-shadow-cart {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    background-color: #6e6e6e2b;
    top             : 0;
    right           : 0;
    left            : 0;
    z-index         : 999;
}

.container-cartTitle-movil {
    margin-top   : 16px;
    border-bottom: 1px solid var(--grisLineas);
}

.container-cartTitle-movil i {
    color    : var(--grisLineas);
    right    : 10px;
    top      : 15px;
    font-size: 25px;
    position : absolute;
}

.text-emptycart {
    text-align: center;
}

.row-itemCart-modal {
    padding: 10px;
}

.container-itemCart .price {
    font-size: 12px;
}

.container-title-price {
    width      : 150px;
    font-weight: 500;
}

.itemTitle-modal {
    font-weight : 700;
    text-align  : start;
    padding-left: 25px;
}

.cart-img-modal {
    width : 50px;
    height: 50px;
}

.clear-itemCart-modal {
    color : var(--grisLineas);
    cursor: pointer;
}

.clear-itemCart-modal:hover {
    color: red;
}

.container_cant_cart_widget_price {
    width: 200px;
}

.container-itemcart-modal {
    color        : red;
    border-bottom: 1px solid var(--grisLineas);
    padding      : 10px;
    text-align   : center;
}

.container-btncart-modal {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.container_cart_empty {
    display        : flex;
    justify-content: space-around;
    flex-direction : column;
    align-items    : center;
    height         : 200px;
}

.input-cart-widget {
    width     : 30px;
    height    : 30px;
    text-align: center;
    padding   : 0 !important;
}

.container_cant_cart_widget {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
}

.container_cant_cart_widget .price,
.container_cant_cart_widget .priceOfert {
    font-size: 12px;
}

.container-cartImg-modal {
    align-items   : center;
    flex-direction: column;
    margin-top    : 10px;
}

.container-itemCart {
    display        : flex;
    justify-content: space-between;
    padding-bottom : 15px;
    border-bottom  : 1px solid var(--grisLineas);
    margin-top     : 15px;
}

.container-itemCart:last-child {
    border-bottom: 2px solid rgb(255, 0, 0);
}

.container_subtotal_cart_widget {
    display        : flex;
    flex-direction : column;
    align-items    : end;
    justify-content: end;
    width          : 100px;
}

@media(min-width: 768px) {
    .container-cart-widget {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .container-cart-widget {
        position: absolute;
        width   : 500px;
        height  : auto;
        top     : 40px;
        right   : -8px;
    }

    .container-btncart-modal {
        flex-direction : row;
        justify-content: space-around;
    }
}