.img-detail {
    width            : 100%;
    background-size  : cover;
    background-repeat: no-repeat;
}

.detail-info {
    padding        : 10px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start
}

.detail-info h5 {
    padding: 10px;
}

.detail-info input {
    margin: 0 8px;
    width : 60px;
}

.detail-info .price {
    padding: 10px;
}

.detail-info .detail-categorie {
    font-size     : 20px;
    text-transform: uppercase;
    padding       : 10px;
}

.detail-categorie {
    white-space: pre-line;
}

.detail-list {
    padding   : 0 28px;
    height    : 200px;
    max-height: 250px;
    display   : flex;
    align-self: self-start;
}

.detail-subItem {
    color: #FF515C;
}

.listTags::marker {
    color: var(--rojo);
}

.listTags span {
    color: black;
}

.container-options {
    display       : flex;
    flex-direction: column;
}

.container-options-detail {
    display : flex;
    position: relative;
    overflow: hidden;
    width   : auto;
    cursor  : pointer;
}

.detail-warning {
    padding: 20px;
    border : solid 1px #747171db;
}

.detail-raings-login a {
    color: #FF515C;
}

.detail-raings-login {
    padding   : 20px;
    border    : solid 1px #747171db;
    width     : auto;
    max-width : 50%;
    text-align: center;
    margin    : 0 auto;
}

.view-options {
    position: relative;
}

.active-line-red {
    content   : "";
    position  : absolute;
    bottom    : 25px;
    left      : 0;
    width     : 100%;
    height    : 2px;
    background: red;
    transition: all .3s ease-in-out;
    transform : translateX(-110%, 0);
    z-index   : 1;
}

.transition {
    transform: translateX(0, 0);
}

@media(min-width: 768px) {
    .container-options {
        flex-direction: row;
        align-items   : flex-start;

    }

    .container-options-detail {
        padding: 0 15px;
    }
}

.container_detail-spiner {
    width      : 60px;
    display    : flex;
    align-items: center;
}

.container-offertDetail {
    width           : 40px;
    height          : 40px;
    border-radius   : 50%;
    background-color: var(--verdeDescuento);
    color           : white;
    position        : absolute;
    transform       : rotate(-45deg);
    left            : 20px;
    top             : 6px;
    text-align      : center;
    align-items     : center;
    display         : flex;
    justify-content : center;
    font-weight     : bolder;
}